html {
    background: #f5f7f8;
    font-family: system-ui;
    -webkit-font-smoothing: antialiased;
  }
  
  .band {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .card, .card2, .card3, .card4 {
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  article {
      padding: 20px;
  }
    
  h1 {
      font-size: 1.2em;
      margin: 0;
      color: #333;
  }
    
.image{
    width: 90%;
    padding-top: 20px;
}
img{
  height: 300px;
}
.img1{
  width: 30%;
}

.aboutContainer{
  padding: 20px 20%;
}